.my-img{
    border: 1px solid black;
    border-radius: 50%;
    width: 200px;
  }
.background{
  background:lightgray;
  
  border: 1px solid black;
}
#cv-template{
  display: none;
}

@page { size: auto;  margin: 0mm; }
